/******
Reset
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/******
Header
******/

header {
    width: 100%;
    background-color: #ff6900 ;
    position: fixed;
    z-index: 99;
}


/******
Container
******/

.container {
    width: 1400px;
    margin: 0 auto;
}

nav.container {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}

nav.container img {
    width: 140px;
    height: 30px;
}

nav.container div {
    display: flex;
    gap: 10px;
}

main div.container {
    display: flex;
    padding-top: 130px;
    flex-direction: row;
    flex-wrap: wrap;
}

/******
Main
******/

.articles {
    height: 700px;
    width: calc(100% / 3);
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.discount{
    width: 55px;
    height: 25px;
    background-color: #ff0000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 580px;
    z-index: 4;
    padding: 3px;
}

.sustainability {
    width: 125px;
    height: 25px;
    background-color: #008000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 580px;
    left: 60px;
    z-index: 4;
    padding: 4px;
}

.name-article {
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}

.number-discount {
    color: #ff0000;
    display: inline-block;
    font-weight: bold;
}

.cost-article {
    color: #000000;
    display: inline-block;
    text-decoration: line-through;
}

/******
Hover Article
******/

div.articles img {
    height: 645px;
    width: 100%;
}

.articles .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.articles:hover .img-top {
    display: inline;
}

.heart {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    top: 9px;
    right: 0px;
    z-index: 4;
    padding: 12px 12px;
    font-size: 25px;
}

.heart:hover {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    color: #ff0000;
}


